body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

header, nav, footer {
    border: 2px dotted purple;
}

header {
    color: purple;
    text-align: center;
    width: 80%;
    float: inline-start;
    padding: 20px 0;
    margin-left: 2%;
}

nav {
    width: 10%;
    float: left;
    padding: 2% 1% 7% 0.5%;
    margin-left: 1%;
}

nav ul {
    list-style: square;
    line-height: 2;
}

nav a:hover {
    background-color: purple;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    float: inline-start;
    width: 60%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 3%;  
}

aside {
    float: right;
    width: 15%;
    color: purple;
    margin-right: 5%;
    margin-top: 2%;
}

footer {
    clear: both;
    width: 100%;
    color: purple;
    font-size: 80%;
    text-align: center;
    padding: 10px 0;
}